{% load staticfiles %}
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.itdiffer.com">
{#                <img src="{% static '/images/logo.png' %}" width="100px">#}
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav" role="navigation">
                <li><a href="{% url 'treemap:testli2' %}">TREEMAP</a></li>
{#                <li><a href="">课程</a></li>#}
                <li><a href="">关于本站</a></li>
            </ul>
        </div>
    </nav>
</div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
